<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href='/'>Home</a> |
            <a href='/blog'>Main Blog Page</a> |
            <a href='/newpost'>Add a Blog Entry</a> |
            <a href='/login'>Log In</a> |
            <a href='/logout'>Log Out</a>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>