{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method="post">
        <table>
            <tr>
                <td><label>Title for your new blog:</label></td>
                <td>
                    <input name="title" type="text" />
                </td>
            </tr>
            <tr>
                <td><label>Your new blog:</label></td>
                <td>
                    <textarea name="body"></textarea>
                </td>
            </tr>
            </table>
            <input type="submit" value="Add Entry" />
    </form>

    <hr />

    <h1>Blog Listings</h1>
    {% if posts|length == 0 %}
    <p> No posts yet</p>
    {% else %}

        {% for post in posts %}
        <h3>{{post[0]}}</h3>
        <p>{{post[1]}}</p>
        {% endfor %}

    {% endif %}

{% endblock %}