{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1 style="text-align: center">{{username}}'s Blog Posts</h1>
    </div>
    
    {% if blog_post|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        {% for blog in blog_post %}
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a></div>
            <div class="panel-body"><p>{{blog.body}}</p></div>
            <div class="panel-footer"><p>Written by <a href="/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></p></div>
        </div>

        {% endfor %}

        <!--Pagination not currently working in jinja or main.py-->
        <ul class="pager">
            <li class="disabled"><a href="#">Previous</a></li>
            <li class="disabled"><a href="#">Next</a></li>
        </ul>

    {% endif %}
 
{% endblock %}
