{% extends "base.html" %}

{% block content %}

<!--TODO: Create a page to display posts of each individual user-->
    <h1>Your Blog Posts</h1>
    <form action="/blog?user={{post.owner.username}}">
        {% for post in posts %}
            <h2><a href=/blog?id={{post.id}}>{{user's first blog post's title}}</a></h2>
            <p>{{post.body}}</p>
            <p>Written by <a href="/blog?user={{post.owner.username}}">{{post.owner.username}}</a></p>
            <hr />
    </form>
        {% endfor %}

{% endblock %}